SQUELIFY_APP_MODE=development
SQUELIFY_BASE_URL=http://localhost:3000
SQUELIFY_DATABASE_DATABASE_ENGINE=pglite
SQUELIFY_DATABASE_URL=postgresql://pgadmin:securedb@127.0.0.1:5432/squelify?sslmode=disable
SQUELIFY_DEFAULT_INDEX_FILES=index.html,default.html
SQUELIFY_GITHUB_CLIENT_ID=
SQUELIFY_GITHUB_CLIENT_SECRET=
SQUELIFY_GOOGLE_CLIENT_ID=
SQUELIFY_GOOGLE_CLIENT_SECRET=
SQUELIFY_JWT_SECRET_KEY=
SQUELIFY_LOG_LEVEL=debug
SQUELIFY_LOG_TIMESTAMP=true
SQUELIFY_S3_ACCESS_KEY_ID=myS3AccessKey
SQUELIFY_S3_BUCKET_NAME=squelify-assets
SQUELIFY_S3_CDN_BASE_URL=http://localhost:7080
SQUELIFY_S3_ENDPOINT_URL=http://localhost:7070
SQUELIFY_S3_PATH_PREFIX=null
SQUELIFY_S3_REGION=auto
SQUELIFY_S3_SECRET_ACCESS_KEY=myS3SecretKey
SQUELIFY_SMTP_FROM_EMAIL="admin@example.com"
SQUELIFY_SMTP_FROM_NAME="Admin Squelify"
SQUELIFY_SMTP_HOST=localhost
SQUELIFY_SMTP_PASSWORD=null
SQUELIFY_SMTP_PORT=1025
SQUELIFY_SMTP_USE_SSL=false
SQUELIFY_SMTP_USERNAME=null
