APP_MODE=development
APP_LOG_LEVEL=debug
APP_BASE_URL=http://localhost:3000
DATABASE_TYPE=pglite
DATABASE_URL=postgresql://pgadmin:securedb@127.0.0.1:5432/squelify?sslmode=disable
JWT_SECRET_KEY=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=null
SMTP_PASSWORD=null
SMTP_USE_SSL=false
SMTP_FROM_NAME="Admin Squelify"
SMTP_FROM_EMAIL="admin@example.com"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
