SQUELIFY_APP_MODE=development
SQUELIFY_BASE_URL=http://localhost:3080
SQUELIFY_APP_SECRET_KEY=key_
SQUELIFY_PUBLISHABLE_KEY=pub_
SQUELIFY_JWT_SECRET_KEY=jwk_
SQUELIFY_DATABASE_ADAPTER=postgres
SQUELIFY_DATABASE_URL=postgresql://pgadmin:securedb@127.0.0.1:5432/squelify?sslmode=disable
SQUELIFY_DEFAULT_INDEX_FILES=index.html,default.html
SQUELIFY_GITHUB_CLIENT_ID=
SQUELIFY_GITHUB_CLIENT_SECRET=
SQUELIFY_GOOGLE_CLIENT_ID=
SQUELIFY_GOOGLE_CLIENT_SECRET=
SQUELIFY_LOG_LEVEL=debug
SQUELIFY_LOG_TIMESTAMP=true
SQUELIFY_RATE_LIMIT_ENABLED=true
SQUELIFY_RATE_LIMIT_GLOBAL_POINTS=1000
SQUELIFY_RATE_LIMIT_GLOBAL_WINDOW=600
SQUELIFY_RATE_LIMIT_IP_POINTS=100
SQUELIFY_RATE_LIMIT_IP_WINDOW=300
SQUELIFY_RATE_LIMIT_USER_POINTS=200
SQUELIFY_RATE_LIMIT_USER_WINDOW=900
SQUELIFY_S3_ACCESS_KEY_ID=myS3AccessKey
SQUELIFY_S3_BUCKET_NAME=squelify-assets
SQUELIFY_S3_CDN_BASE_URL=http://localhost:7080
SQUELIFY_S3_ENDPOINT_URL=http://localhost:7070
SQUELIFY_S3_PATH_PREFIX=null
SQUELIFY_S3_REGION=auto
SQUELIFY_S3_SECRET_ACCESS_KEY=myS3SecretKey
SQUELIFY_SMTP_FROM_EMAIL="admin@example.com"
SQUELIFY_SMTP_FROM_NAME="Admin Squelify"
SQUELIFY_SMTP_HOST=localhost
SQUELIFY_SMTP_PASSWORD=null
SQUELIFY_SMTP_PORT=1025
SQUELIFY_SMTP_USE_SSL=false
SQUELIFY_SMTP_USERNAME=null
